fastapi[all]
gitpython
pydantic
gdown
segment-anything-py
ipykernel
matplotlib
opencv-python
pycocotools 
matplotlib 
onnxruntime 
onnx
mmengine
wandb 
scikit-learn
python-multipart
scikit-image
gdown
# Train전용
# git clone https://github.com/open-mmlab/mmpretrain.git
# cd mmpretrain
# pip install -U openmim && mim install -e .