fastapi[all]
gitpython
pydantic
gdown
segment-anything-py
ipykernel
matplotlib
opencv-python
pycocotools 
matplotlib 
onnxruntime 
onnx
mmengine
wandb 
scikit-learn
python-multipart
scikit-image
gdown